{% extends "base.html" %}
{% block title%}
LeTalk | Change Password
{% endblock %}
{% block css %}
<style>
    .heading{
    padding-top: 40px;
    color: #8C55AA;
    font-weight: bold;
    font-size: 23px;
    }
    ul{
        list-style-type:none;
        color:red;
    }
    messages{
        color:green;
    }
    #para{
        margin-right:auto;
    }
    .field_name{
        float:left;
        margin-left:33.33%;
        line-height: 1.8;
    }
    .field_box{
        float:left;
        margin:top:0%;
        margin-left:6%;
    }
    .end_float{
        clear:both;
    }
</style>
{% endblock %}
{% block nav %}
<div class="collapse navbar-collapse" id="navdata">
    <ul class="navbar-nav ms-auto">
       <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="profiledropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user"></i> {{ request.user }}</a>
            </a>
             <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="profiledropdown">
                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                <li><a class="dropdown-item active" href="/change_password">Change Password</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
<div class="text-center">
<br>
<h1 class="heading">Change Password</h1>
<br><br>
 <form method="POST">
     {% csrf_token %}
     <div class="field_name">
         <p>current password</p>
         <p>new password</p>
         <p>confirm password</p>
     </div>
     <div class="field_box">
         <p>{{form.old_password}}</p>
         <p>{{form.new_password1}}</p>
         <p>{{form.new_password2}}</p>
     </div><div class="end_float"></div>
    <input type="submit" value="Change Password" class=" btn btn-secondary">
</form>
<br><br>
<h3>
{% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
{% endif %}
</h3>
</div>
{% endblock %}