{% extends "base.html" %}
{% block title%}
Home
{% endblock %}

{% block content %}
<div class="jumbotron" style="text-align:center;">
    <h2 style="color:red;">Welcome LeTalker's</h2>
</div>
<div>
    <form style="text-align:center;padding:10px;background-color:lightgray;width:40%;margin-left:350px;border-radius:2%;font-family: Georgia, serif;font-size:medium;">
        log in<br><br>
        username<input type="text" required=""><br><br>
        password<input type="password" required=""><br>
        <input type="checkbox" checked="">remember me
        <br><br>
        <button type="submit" style="background-color:green;padding-right:10px;">Login</button>
        <button type="cancel" style="background-color:red;padding-left:5px;">cancel</button>
    </form>
</div>
{% endblock %}