{% extends "base.html" %}
{% block title%}
LeTalk | Home
{% endblock %}

{% block css %}
    <style>
    h2{
        color:blue;
    }
    .img1{
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top:5%;
          width:400px;
          height:400px;

        }
    .img2{
        display:block;
        margin-left:30px;
        width:80px;
        height:80px;
    }

    </style>
{% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navdata">
    <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
            <li class="nav-item">
                   <a class="nav-link" href="/profile"><i class="fas fa-user"></i> {{ request.user }}</a>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
        {% endif %}

    </ul>
</div>
{% endblock %}
{% block content %}

<div>
    <img class="img1" src="/media/chatp1.png">
</div>
<br>
{% endblock %}