{% extends "base.html" %}
{% block title%}
LeTalk | Home
{% endblock %}

{% block css %}
    <style>
    h2{
        color:blue;
    }
    .img1{
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top:5%;
          width:400px;
          height:400px;

        }
    .img2{
        display:block;
        margin-left:30px;
        width:80px;
        height:80px;
    }

    </style>
{% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navdata">
    <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="profiledropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user"></i> {{ request.user }}</a>
                </a>
                 <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="profiledropdown">
                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                    <li><a class="dropdown-item" href="/change_password">Change Password</a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
        {% endif %}

    </ul>
</div>
{% endblock %}
{% block content %}
<div>
    <img class="img1" src="/media/chatp1.png">
</div>
<br>
{% endblock %}