{% extends "base.html" %}
{% block title%}
Login
{% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navdata">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
    </ul>
</div>
{% endblock %}
{% block content %}
<div>
    <form style="text-align:center;padding:10px;background-color:lightgray;width:40%;margin-left:350px;border-radius:2%;font-family: Georgia, serif;font-size:medium;">
        <h2>Log in</h2><br>
        Username <input type="text" required=""><br><br>
        Password <input type="password" required=""><br><br>
        <input type="checkbox" checked> Remember me
        <br><br>
        <button type="submit" style="background-color:green;padding-right:10px;">Login</button>
        <button type="cancel" style="background-color:red;padding-left:5px;">cancel</button>
    </form>
</div>
{% endblock %}