{% extends "base.html" %}
{% block title%}
Login
{% endblock %}

{% block css %}
    <style>
    hr{
        width:25%;
        self-align:center;
    }
    h3{
        text-align:center;
    }
    </style>
{% endblock %}

{% block nav %}
<div class="collapse navbar-collapse" id="navdata">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link active" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
    </ul>
</div>
{% endblock %}
{% block content %}
<h3>Login</h3>
<hr>
<div>
    <form>
        <input type="text" required >
    </form>
</div>
{% endblock %}