{% extends "base.html" %}
{% block title%}
LeTalk | Profile
{% endblock %}
{% block css %}
<style>
img{
    width:250px;
    height:250px;
}
button{
    width:250px;
    height:30px;
    padding-bottom:10px;
}
.clear_float{
    clear:both;
}
#container_id{
    margin-left:0%;
}
#left-col{
    margin-top:5%;
}
</style>
{% endblock %}
{% block nav %}
<div class="collapse navbar-collapse" id="navdata">
    <ul class="navbar-nav ms-auto">
       <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="profiledropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user"></i> {{ request.user }}</a>
            </a>
             <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="profiledropdown">
                <li><a class="dropdown-item active" href="/profile">Profile</a></li>
                <li><a class="dropdown-item" href="/change_password">Change Password</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
{% block content %}
<div id="container_id">
    <div class="row">
        <div class="col-3" id="left-col">
         <div id="profile-container">
         <img id="profileImage" src="/media/user.png" />
</div>
<div>
<h2>{{request.user.username}}</h2><hr>
<button type="submit" style="width:100%;">New Photo</button>
<button type="submit" style="width:100%;">Remove Photo </button>
</div>
</div>
    <div class="col-9"><h3>Profile</h3><hr>
       <div class="row">
           <div class="col-6">
               <div class="row">
                   <div class="col-4">First Name</div>
                   <div class="col-8">{{form.first_name}}</div>
               </div>
           </div>
           <div class="col-6">Last Name<span style="margin-left:10%;">{{form.last_name}}</span></div>
       </div>
    </div>
    </div>
</div>
{% endblock %}